*.swp

deployments/*
!deployments/
deployments/devb.datasci.oregonstate.edu/*
!deployments/devb.datasci.oregonstate.edu/
!deployments/devb.datasci.oregonstate.edu/devB-example.vars
!deployments/devb.datasci.oregonstate.edu/devB-monitoring.vars
