[submodule "charts/ds-jupyterlab/0/charts/z2jh-oneilsh"]
	path = charts/ds-jupyterlab/0/charts/z2jh-oneilsh
	url = https://github.com/oneilsh/z2jh-oneilsh.git
[submodule "charts/ds-jupyterlab/0/charts/jupyterhub"]
	path = charts/ds-jupyterlab/0/charts/jupyterhub
	url = https://github.com/oneilsh/z2jh-oneilsh.git
