*.swp

deployments/*
!deployments/
deployments/example.cluster.edu/*
!deployments/example.cluster.edu/
!deployments/example.cluster.edu/example-hub.vars
!deployments/example.cluster.edu/cluster-bootstrap.vars
