*.swp
deployments/*
!deployments/

deployments/devb.datasci.oregonstate.edu/*
!deployments/devb.datasci.oregonstate.edu/

!deployments/devb.datasci.oregonstate.edu/cluster-ingress-hostname
!deployments/devb.datasci.oregonstate.edu/kube-context

deployments/devb.datasci.oregonstate.edu/example-hub/*
!deployments/devb.datasci.oregonstate.edu/example-hub/
!deployments/devb.datasci.oregonstate.edu/example-hub/deploy.sh

deployments/devb.datasci.oregonstate.edu/grafana-prometheus/*
!deployments/devb.datasci.oregonstate.edu/grafana-prometheus/
!deployments/devb.datasci.oregonstate.edu/grafana-prometheus/deploy.sh
.Rproj.user
